/*=========== Body Configuration ============*/

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #454d55;
}


/*============= TOP BAR HEADER =============*/

.top-bar {
    background: brown;
    height: 2.8rem;
    padding: 0.5rem 0;
}

.top-bar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}


/*============= NAV =============*/

.navbar-brand img {
    height: 3rem;
}

.navbar {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-item {
    padding: 0.5rem;
}

.nav-link {
    color: #5b5555!important;
}

.nav-link.active,
.nav-link:hover {
    color: #4981b3!important;
}


/*==CAROUSEL SLIDER!!!==*/

#carousel {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    max-height: 38rem!important;
}


/*---Change Carousel Transition Speed --*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    transition: transform 2.2s ease;
}


/*-- Carousel Content --*/

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}

.bg-custom {
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    border-radius: 1rem;
    justify-self: auto;
}

.carousel-caption h1 {
    font-size: 4rem;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 1);
}

.border-primary {
    border-top: 0.2rem solid #4981b3!important;
}

.carousel-caption h3 {
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 1);
}

.btn-lg {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    border-width: medium;
}

.btn-primary {
    background-color: #4981b3;
    border: .05rem solid #4981b3;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #68a0d2!important;
    border: .05rem solid #68a0d2!important;
}


/*============= FOOTER =============*/

footer {
    background-color: #441111;
    padding: 1rem 2rem 3rem;
}

footer img {
    height: 4rem;
    margin: 1.5rem auto;
}

footer p,
footer a,
.socket a {
    color: white;
    text-decoration: none;
}

ul.social {
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0;
}

ul.social li {
    margin: 0 auto;
}

footer .svg-inline--fa {
    font-size: 3rem;
}

footer .svg-inline--fa:hover {
    color: #d26876;
}


/*============= SOCKET =============*/

.socket {
    background-color: #1d1a1a;
    border-top: .1rem solid #118fca;
}


/*============= MEDIA QUERIES (IMPORTED FROM ELSEWHERE, OF COURSE) =============*/


/* Devices under 1199px (xl) */

@media (max-width: 1199.98px) {
    .carousel-caption h1 {
        font-size: 2.8rem;
    }
    .carousel-caption h3 {
        font-size: 1.8rem;
    }
}


/* Devices under 768px (md) */

@media (max-width: 767.98px) {
    .carousel-caption h1 {
        font-size: 2rem;
    }
    .carousel-caption h3 {
        font-size: 1rem;
    }
    .btn-lg {
        font-size: .95rem;
    }
}


/* Devices under 1199px (xl) */

@media (max-width: 1199.98px) {}


/* Devices under 768px (md) */

@media (max-width: 767.98px) {}


/*== Preventing Potential Bootstrap Mobile Gutter Problems ==*/

.row,
.container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}


/*-- Fix Background Image --*/

.fixed-background {
    position: relative;
    width: 100%;
    z-index: 1000!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
}

.fixed {
    z-index: -999!important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}